/* Reset */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: unset;
}

a {
    color: inherit;
    text-decoration: unset;
}

p {
    margin: unset;
}

ul {
    margin: unset;
    padding: unset;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

button {
    padding: unset;
    cursor: pointer;
    color: inherit;
    border: unset;
}

input {
    outline: unset;
}


/* Common */
.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1200px;
}

/* Shipping */
.shipping {
    padding-top: 100px;
}

.shipping__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shipping__title {
    margin-bottom: 30px;
    font-size: 35px;
}

.shipping__block {
    margin-bottom: 20px;
}

.shipping__btn {
    padding: 10px;
    text-transform: uppercase;
}
